apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-netpol
spec:
  podSelector:
    matchLabels:
      app: nginx-ingress
      app.kubernetes.io/name: ingress-nginx
  policyTypes:
  - Egress
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          app: webserver
    ports:
    - protocol: TCP
      port: 8080
